<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hello HTMX</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  </head>
  <body>
    <h1>Hello from AdonisJS + HTMX!</h1>
    <a href="/interrogation">
      <button type="button">
        Go to linda
      </button>
    </a>
    <div id="hello-result"></div>
  </body>
</html>
